
.box {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
}


.box1 {
  top: 40px;
  left: 40px;
  z-index: 99;
  background-color: #555;
}

.box2 {
  top: -40px;
  left: -40px;
  z-index: 100;
  background-color: #999;
}