.container {
  background-color: rgb(255, 50, 100);
}

.box {
  padding: 24px;
  color: #fff;
}

.box1 {
  background-color: rgb(59, 59, 59);
  width: 50%;
}

.box2 {
  background-color: rgb(89, 89, 89);
  width: 50%;
}